name: Merge PR

permissions:
  contents: read
  pull-requests: write
  issues: write

on:
  push:
    branches:
      - main

jobs:
  merge-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
      - name: Set up pnpm
        uses: pnpm/action-setup@v4.2.0
      - name: Set up Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 22.20.0 # Must match engines.node in package.json
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Build
        run: pnpm build
      - name: Manage labels
        id: manage-labels
        uses: ./.github/actions/manage-github-labels
        with:
          labels-to-add: 'merged'
          labels-to-remove: 'pr-in-progress, testing'
          github-token: ${{ github.token }}

      - name: Add message to summary
        run: echo "${{ steps.manage-labels.outputs.markdown-message }}" >> $GITHUB_STEP_SUMMARY
